name: Check-Test
on:
  workflow_dispatch:
  push:
    branches: [develop]
  pull_request:
    branches: [main]
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
env:
  RESOURCE_PUBLISHER_TOKEN: ${{ secrets.RESOURCE_PUBLISHER_TOKEN }}
  WOLFRAMSCRIPT_ENTITLEMENTID: ${{ secrets.WOLFRAMSCRIPT_ENTITLEMENTID }}
  WLPR_PACLET_SITE: https://resources.wolframcloud.com/PacletRepository/pacletsite
  ENGINE_TAG: 14.3.0
  PACLET_CICD_VERSION: 0.36.2
jobs:
  Check-Test:
    name: Check-Test
    runs-on: ubuntu-latest
    container:
      image: wolframresearch/wolframengine:14.3.0
      options: --user root --privileged --init
    env:
      WOLFRAM_SYSTEM_ID: Linux-x86-64
    timeout-minutes: 20
    steps:
      - name: Checkout
        id: checkout-code-step
        uses: actions/checkout@v5
      - name: Install perl, ghostscript, tinytex
        run: |
          apt-get update -y
          apt-get install perl -y
          apt-get install ghostscript -y
          apt-get install wget -y
          wget -qO- "https://yihui.org/tinytex/install-bin-unix.sh" | sh
      - name: Add latex to path
        run: echo "$HOME/bin" >> $GITHUB_PATH
      - name: Install LaTeX packages for MaTeX
        run: |
          tlmgr update --self --all
          tlmgr path add
          fmtutil-sys --all
          tlmgr --version
          tlmgr install latex standalone lm svn-prov
          tlmgr path add
          tlmgr list --only-installed
      - name: Test
        id: test-paclet-step
        uses: WolframResearch/test-paclet@v1.11.0
        with:
          debug: "false"
          paclet_cicd_version: ${{ env.PACLET_CICD_VERSION }}
      - name: Check
        id: check-paclet
        uses: WolframResearch/check-paclet@v1.11.0
        with:
          debug: "false"
          paclet_cicd_version: ${{ env.PACLET_CICD_VERSION }}
      - name: UploadWorkflowValues
        id: upload-workflow-values-step
        if: always() && env.PACLET_WORKFLOW_VALUES
        uses: actions/upload-artifact@v4
        with:
          name: paclet-workflow-values
          path: ${{ env.PACLET_WORKFLOW_VALUES }}
          if-no-files-found: ignore
      # - name: Setup tmate session
      #   if: ${{ failure() }}
      #   uses: mxschmitt/action-tmate@v3
        
