name: Release
on:
  workflow_dispatch:
  push:
    branches: [main]
env:
  RESOURCE_PUBLISHER_TOKEN: ${{ secrets.RESOURCE_PUBLISHER_TOKEN }}
  WOLFRAMSCRIPT_ENTITLEMENTID: ${{ secrets.WOLFRAMSCRIPT_ENTITLEMENTID }}
  WLPR_PACLET_SITE: https://resources.wolframcloud.com/PacletRepository/pacletsite
  ENGINE_TAG: 14.3.0
  PACLET_CICD_VERSION: 0.36.2
jobs:
  Check:
    name: Check
    runs-on: ubuntu-latest
    container:
      image: wolframresearch/wolframengine:14.3.0
      options: --user root
    env:
      WOLFRAM_SYSTEM_ID: Linux-x86-64
    steps:
      - name: Checkout
        id: checkout-code-step
        uses: actions/checkout@v5
      - name: Check
        id: check-paclet-step
        uses: WolframResearch/check-paclet@v1.11.0
        with:
          target: Submit
          paclet_cicd_version: ${{ env.PACLET_CICD_VERSION }}
          definition_notebook: ./ResourceDefinition.nb
          resource_system_base: https://www.wolframcloud.com/obj/resourcesystem/api/1.0
      - name: UploadWorkflowValues
        id: upload-workflow-values-step
        if: always() && env.PACLET_WORKFLOW_VALUES
        uses: actions/upload-artifact@v4
        with:
          name: paclet-workflow-values
          path: ${{ env.PACLET_WORKFLOW_VALUES }}
          if-no-files-found: ignore
  Test:
    name: Test
    runs-on: ubuntu-latest
    container:
      image: wolframresearch/wolframengine:14.3.0
      options: --user root
    env:
      WOLFRAM_SYSTEM_ID: Linux-x86-64
    steps:
      - name: Checkout
        id: checkout-code-step
        uses: actions/checkout@v5
      - name: Test
        id: test-paclet-step
        uses: WolframResearch/test-paclet@v1.11.0
        with:
          target: Submit
          paclet_cicd_version: ${{ env.PACLET_CICD_VERSION }}
          definition_notebook: ./ResourceDefinition.nb
          resource_system_base: https://www.wolframcloud.com/obj/resourcesystem/api/1.0
      - name: UploadWorkflowValues
        id: upload-workflow-values-step
        if: always() && env.PACLET_WORKFLOW_VALUES
        uses: actions/upload-artifact@v4
        with:
          name: paclet-workflow-values
          path: ${{ env.PACLET_WORKFLOW_VALUES }}
          if-no-files-found: ignore
  Release:
    name: Release
    needs: [Check, Test]
    runs-on: ubuntu-latest
    container:
      image: wolframresearch/wolframengine:14.3.0
      options: --user root
    env:
      WOLFRAM_SYSTEM_ID: Linux-x86-64
    timeout-minutes: 360
    steps:
      - name: Checkout
        id: checkout-code-step
        uses: actions/checkout@v5
      - name: DownloadWorkflowValues
        id: download-workflow-values-step
        uses: actions/download-artifact@v6
        with:
          name: paclet-workflow-values
          path: ${{ env.PACLET_WORKFLOW_VALUES }}
      - name: Build
        id: build-paclet-step
        uses: WolframResearch/build-paclet@v1.11.0
        with:
          target: Submit
          paclet_cicd_version: ${{ env.PACLET_CICD_VERSION }}
          definition_notebook: ./ResourceDefinition.nb
          resource_system_base: https://www.wolframcloud.com/obj/resourcesystem/api/1.0
      - name: UploadArtifact
        id: upload-build-artifacts-step
        uses: actions/upload-artifact@v4
        with:
          path: ${{ env.PACLET_BUILD_DIR }}
          if-no-files-found: ignore
      - name: CreateRelease
        id: create-release-step
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "${{ env.PACLET_RELEASE_TAG }}" \
            --title "Release ${{ env.PACLET_RELEASE_TAG }}" \
            --draft \
            "${{ env.PACLET_PATH }}#${{ env.PACLET_FILE }}"
      - name: UploadWorkflowValues
        id: upload-workflow-values-step
        if: always() && env.PACLET_WORKFLOW_VALUES
        uses: actions/upload-artifact@v4
        with:
          name: paclet-workflow-values
          path: ${{ env.PACLET_WORKFLOW_VALUES }}
          if-no-files-found: ignore
